# bee api key
BEE_API_KEY = "bee api key"

# bee basic auth, can get from site after login with your credentials in the field
# Authorization: Basic bee_auth_string
BEE_AUTH = "bee_auth_string"

# ps api key
PS_API_KEY = "ps api key"

# ps user id
PS_USER_ID = 73472

# ppl credentials
PPL_CUSTOMER_ID = 5361235623
PPL_USERNAME = "teyteytry"
PPL_PASSWORD = "tt$#23"