# bee api key
BEE_API_KEY = "bee api key"

# bee basic auth, can get from site after login with your credentials in the field
# Authorization: Basic bee_auth_string
BEE_AUTH = "bee_auth_string"

# ps api key
PS_API_KEY = "ps api key"

# ps user id
PS_USER_ID = 73472
